*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif ;
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.home{
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 250px;
}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background-color: rgb(135, 205, 245);
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex div {
    padding: 25px;
    background-color: white; 
    margin: 20px;
}

.fav{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;    
}

.fav:hover {
    background-color: #f3e032;
}

.toggleButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #8f75f8;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.infoContainer{
    text-align: center;
    text-align: justify;
}

.ag{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4bf036;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ag:hover{
    background-color: darkgreen;
}